* {
    margin: 0;
    padding: 0;
    --grid-div-width: 100vh;
    --grid-div-height: 100vh;
}
body {
    display: flex;
    justify-content: space-between;
}
.choose-number-button {
    margin: 3vh;
    align-self: center;
}
.container-grid-div {
    width: var(--grid-div-width);
    height: var(--grid-div-height);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/* --grid-div-num set in javascript.js to keep dynamic*/
.grid-div {
    width: calc(var(--grid-div-width) / var(--grid-div-num));
    height: calc(var(--grid-div-height) / var(--grid-div-num));
    background-color: rgb(18, 18, 92);
    transition-duration: 1s;
}
.grid-div:hover {
    background-color: rgb(69, 174, 135);
    transition-duration: 1ms;
}

